/* src/components/TodoForm.css */
.todo-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.todo-form input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #f76b1c;
    border-radius: 30px;
    width: 60%;
    margin-right: 10px;
    transition: border-color 0.3s;
}

.todo-form input:focus {
    border-color: #f5a623;
    outline: none;
}

.todo-form button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f76b1c;
    color: white;
    border: none;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.todo-form button:hover {
    background-color: #f5a623;
}
